* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
.hero__section {
    background: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    background-position: center;
    background-size: cover;
    color: white;
    min-height: 60vh;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 16px 50px;
    height: 60px;
}

.navbar a{
    text-decoration: none;    /* for underline that we have under anchor tags content. */     
    color: white;
    font-weight: 200;
    font-size: 15px;
}

/* .navbar__container {
    display: flex;
    gap: 30px;
    This will work same as next link code.
} */
.link {
    display: inline-block;
    margin: 15px;
    
}

.user_icon{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border:solid 1px white;
    display: none;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(60vh - 60px);
    gap: 30px;
}

.hero__section_logo{
    height: auto;
    width: 400px;
}
.hero__section_title{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
.hero__section_input_container{
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 55%;
    }

.input_container_location,
.input_container_search{
    padding: 5px;
    border: none;
    outline: none;
}
.input_container_search{
    width: 70%;
    border-left: 2px solid gray;
}
.input_container_location{
    width: 30%;
}

@media only screen and (max-width: 640px) {
    .link {
        display: none;
    }
    .navbar{
        padding: 20px;
    }
    .hero__section{
        min-height: 80vh;
    }
    .user_icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero__section_input_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }
    .input_container_location,
    .input_container_search{
        padding: 15px;
        border-radius: 10px;
        width: 90%;
    }
    .hero__section_container{
        height: fit-content;
    }
    .input_container_search{
        border-left: none;
    }
}